.schedule-container {
    padding: 16px;
    margin: 16px;
    box-shadow: var(--mdc-elevation--z4);
  }
  
  .my-schedule {
    position: relative;
    top: 0px;
    width: 100%; 
    max-width: 2000px; 
    border-radius: 20px;
    padding: 16px;
    margin-left: 16px;
    box-shadow: var(--mdc-elevation--z4);
  }
  
  .my-schedule h1 {
    color: #5e9ca0;
    text-align: center;
    position: relative;
    top: 20px;
  }
  
  .schedule-list {
    list-style-type: square;
    padding: 15px;
    text-align: justify;
  }
  
  .schedule-item {
    margin: 10px 0;
    padding: 16px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  }
  
  .schedule-item span {
    font-size: 1rem;
    color: #007BFF;
  }
  
  /* Planner Grid Layout */
.planner {
  display: flex;
  flex-direction: column;
}

.planner-header {
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr);
  background-color: #f1f1f1;
  font-weight: bold;
  text-align: center;
}

.planner-day {
  padding: 10px;
  border: 1px solid #ddd;
}

.planner-body {
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr);
}

.time-slot {
  display: contents; 
}

.planner-time {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef;
  border: 1px solid #ddd;
  font-weight: bold;
}

.planner-cell {
  min-height: 60px;
  min-width: 100px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.course-item {
  background-color: #007BFF;
  min-width: 100px;
  color: #fff;
  padding: 8px;
  border-radius: 2px;
  font-size: 0.9rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}