<template>
    <div if.bind="showMenu">
    <h1 class="menu-title">${title}</h1>
      <h2>Welcome, ${username}</h2>
    </div>
  
        <ol class="menu-list" id="showMenu" >
      <li>
        <a load="my-schedule" class="menu-link" click.trigger="toggleCourseManager()">
          <img src="https://html-online.com/img/01-interactive-connection.png"  class="menu-icon" />
          <!-- ${isBackButton? 'Back' : 'My Schedule'} -->
           My Schedule
        </a>
      </li>
      <li>
        <a load="course-manager" class="menu-link" click.trigger="toggleCourseManager()" >
          <img src="https://html-online.com/img/02-html-clean.png"  class="menu-icon" />
          Course Manager
        </a>
      </li>
      <li>
        <a load="exam-manager" class="menu-link" click.trigger="toggleCourseManager()">
          <img src="https://html-online.com/img/03-docs-to-html.png" class="menu-icon" />
          Exam Manager
        </a>
      </li>
      <li>
        <a load="account" class="menu-link" click.trigger="toggleCourseManager()">
          <img src="https://html-online.com/img/04-replace.png"  class="menu-icon" />
          Account
        </a>
      </li>
      <li>
        <a load="notifs" class="menu-link" click.trigger="toggleCourseManager()">
          <img src="https://html-online.com/img/05-gibberish.png" class="menu-icon" />
          Notifications
        </a>
      </li>
      <li>
        <a href="#" class="menu-link" click.trigger="toggleCourseManager()">
          <img src="https://html-online.com/img/6-table-div-html.png"  class="menu-icon" />
          Log Out
        </a>
      </li>
    </ol>
  
    <!-- hidden div toggled by showDiv -->
    <div id="hiddenDiv" if.bind="showDiv" class="hiddenDiv">
      <au-viewport name="dashboard-viewport"></au-viewport>
    </div>
  </template>
  