<template>
    <div class="exam-manager-container mdc-card">
      <h2 class="mdc-typography--headline6">Exam Manager</h2>
      <ul class="mdc-list">
        <li repeat.for="exam of exams" class="mdc-list-item">
          <span class="mdc-list-item__text">${exam.subject} - ${exam.date}</span>
        </li>
      </ul>


      <section id="grades">
        <h2>Grades</h2>
        <table>
            <tr>
                <th>Course</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>Introduction to Programming</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Data Structures</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>Web Development</td>
                <td>A-</td>
            </tr>
        </table>
    </section>
    </div>
  </template>
  