.course-manager {
  position: relative;
  top: 0px;
  width: 100%;
  max-width:2000px; 
  border-radius: 200px;
  padding: 16px;
  margin-left: 16px;
  box-shadow: var(--mdc-elevation--z4);
} 

body {
  display: flex;
  justify-content: center; /* horizontally center the content */
  align-items: center;    /* vertically center the content */
}
.container {
  text-align: center; /* center text inside the container */
  width: 100%;        /* ensure the container spans the full width */
  max-width: 600px;   /* Optional: Set a max width for better layout */
  padding: 20px;
  box-sizing: border-box;
  top: 20px;
}
  
  .h1 {
    color: #5e9ca0; 
    text-align: center;
    top: 20px;
    position: relative;

}
  
  
  ul {
    list-style-type:none;
    padding: 15px;
    text-align: justify;
  }
  
  li {
    margin: 10px 0;
  }
  
  button {
    padding: 10px;
    background-color: #5e9ca0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #4e8a87;
  }
  
  .courses {
    width: 80%;
    margin: 0 auto;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.course-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 45%;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.course-item h2 {
  color: #007BFF;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.course-item p {
    font-size: 1rem;
    color: #555;
}

.course-item button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.course-item button:hover {
    background-color: #0056b3;
}

.student-section,.teacher-section{
    display: flex;
    width: 100%;
}


.course-manager-container {
  padding: 16px;
  margin: 16px;
  box-shadow: var(--mdc-elevation--z4);
}

.course-management{
  display:flex;
  width: 100%;
  gap: 0px;
}

.new-course {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: fit-content;
}